{% extends 'appyeri/base.html' %}
{% load static %}
{% block practicas %}
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Practicas</h2>
                <p class="lead">Ganar experiencia y concimiento real</p>
                <p class="mb-0">En nuestra academia contamos con diversas alianzas den instituciones deportivas del pais con el fin de poder brindarles a nuestros estudiantes la posibilidad de poner en practicas reales los conocimientos obtenidos.</p>
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'appyeri/assets/img/03.jpeg' %}" alt="..." /></div>
            </div>
        </div>
    </div>
</section>
{% endblock practicas %}