{% extends 'appyeri/base.html' %}
{% load static %}
{% block sugerencias %}
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Profesores</h2>
                <p class="lead">Conocer tu opinion</p>
                <p class="mb-0">En esta seccion podras dejarnos tus sugerencias sobre cursos que crees podriamos implementar en nuestra academia.</p>
            </div>
        </div>
    </div>
</section>
{% endblock sugerencias %}